<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="eRecruitmentConnectionString" connectionString="Data Source=sagar;Initial Catalog=erec;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="eRecruitmentConnectionString1" connectionString="Data Source=DIYA\SQLEXPRESS;Initial Catalog=eRecruitment;Integrated Security=True"
           providerName="System.Data.SqlClient" />
    <add name="erecConnectionString" connectionString="Data Source=PSPOORTHI\SPOORTHI;Initial Catalog=erec;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="erecConnectionString2" connectionString="Data Source=PSPOORTHI\SPOORTHI;Initial Catalog=erec;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="erecConnectionString3" connectionString="Data Source=PSPOORTHI\SPOORTHI;Initial Catalog=erec;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="erecConnectionString4" connectionString="Data Source=PSPOORTHI\SPOORTHI;Initial Catalog=erec;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="SearchConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\erec.mdf;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="ConnectionStringSearch" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\erec.mdf;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"></add>
  </appSettings>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <system.web>
    <httpHandlers>
      <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha "/>
    </httpHandlers>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>



</configuration>
